%h1= @pin.title
= image_tag @pin.image.url(:medium)
%p= @pin.description

.btn-group
  = link_to "Back", root_path, class: "btn btn-primary"
  = link_to "Edit", edit_pin_path, class: "btn btn-warning"
  = link_to "Delete", pin_path, method: :delete, class: "btn btn-danger"
